.applicantList-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.applicants-list {
    list-style-type: none;
    padding: 0;
    height: 100%;
    overflow-y: scroll;
}

.applicants-list::-webkit-scrollbar {
    width: 0px;
}

.applicants-list-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #E5E7EB;
    padding: 12px;
}

.title {
    font-weight: 600;
    font-size: 20px;
    color: black;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
}

.title h3 {
    margin: 0;
    padding: 0;
}

.applicant-name {
    font-size: 16;
    color: black;
    margin: 0;
    padding: 0;
}

.applicant-email {
    font-size: 12px;
    color: #6B7280;
    margin: 0;
    padding: 0;
}

a:link { 
    text-decoration: none; 
}


a:visited { 
    text-decoration: none; 
}


a:hover { 
    text-decoration: none; 
}


a:active { 
    text-decoration: none; 
}

