.container {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas:
    "Nav ApplicationList Applicant"
}

.Nav {
    grid-area: Nav;
    background-color: rgb(202, 199, 199);
}

.ApplicationList {
    grid-area: ApplicationList;
    background-color: white;
}

.Applicant {
    grid-area: Applicant;
    background-color: rgb(153, 153, 155);
}