@media screen {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 3fr;
        grid-template-rows: 100vh;
        background-color: white;
        grid-template-areas: 
        "Nav ApplicationList Applicant";
        background-color: #F3F4F6;
    }

    .Nav {
        grid-area: Nav;
    }

    .ApplicationList {
        grid-area: ApplicationList;
    }

    .Applicant {
        grid-area: Applicant;
    }
}