@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: center;
    background-color: #F3F4F6;
 }

.application-form-container{
    display: flex;
    flex-direction: column;
    width: 624px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}

.application-form-form {
    display: flex;
    flex-direction: column;
}

.application-form-inputs {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    padding: 24px;
    gap: 18px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.application-form-input {
    flex-basis: 40%;
    flex-grow: 1;
}

.application-form-submit {
    display: flex;
    justify-content: end;
    padding: 24px;
}

input[type='file'] {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.input-file {
    display: flex;
    align-items: center;
}

.input-file:hover {
    cursor: pointer;
}


input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.show-selected-files {
    display: flex;
    border: 1px solid #ccc;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;
}

.show-selected-files p {
    font-size: 12px;
    margin: 0;
    padding: 0;
}